:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

/* убираем точки списков */
.list {
  list-style: none;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* глобальный сброс margin, padding */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  align-items: center;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/* ------------ШАПКА-------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.logo-black {
  color: var(--black-logo-color);
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-item + .header-contact-item {
  margin-left: 50px;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}

/* ------------ГЕРОЙ-------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-background-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-btn {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--white-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* ------------ПРЕИМУЩЕСТВА-------------- */

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* ------------СПИСОК ЗАНЯТИЙ-------------- */
.work-section {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;
}
/* ----------------КОМАНДА----------------- */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--team-background-color);
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-workers {
  padding: 30px 0px;
}

.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profession {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* ----------------ПОДВАЛ----------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.logo-white {
  color: var(--white-text-color);
}

.footer-contact {
  margin-top: 20px;
}
.footer-contact-link.address {
  color: var(--white-text-color);
}

.footer-contact-item,
.footer-contact-item {
  margin-top: 9px;
}

/* ---------------------------------------------- */
/* --------------------ПОРТФОЛИО----------------- */
/* ---------------------------------------------- */

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  margin: 15px;
}

.portfolio-border {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* .portfolio-bottom {
  margin-top: 15px;
  /* background-color: red; */
} */
