:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

/* убираем точки списков */
.list {
  list-style: none;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* глобальный сброс margin, padding */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid orange;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/* ------для оформления */

/* .features-section {
  background-color: tomato;
} */

/* ------------ШАПКА-------------- */
.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-black {
  color: var(--black-logo-color);
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}

/* ------------ГЕРОЙ-------------- */

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--white-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* ------------ПРЕИМУЩЕСТВА-------------- */

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* ------------СПИСОК ЗАНЯТИЙ-------------- */
.section-title {
  margin-bottom: 50px;
}
/* ----------------КОМАНДА----------------- */

.team-section {
  background-color: var(--team-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  /* margin-bottom: 30px; */
}

.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  /* text-align: center; */
  margin-top: 30px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  color: var(--secondary-text-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

/* ----------------ПОДВАЛ----------------- */
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: var(--white-text-color);
}

.footer-contact {
  margin-top: 20px;
}
.footer-contact-link.address {
  color: var(--white-text-color);
}

.footer-contact-item,
.footer-contact-item {
  margin-top: 9px;
}

/* ---------------------------------------------- */
/* --------------------ПОРТФОЛИО----------------- */
/* ---------------------------------------------- */

.portfolio-section {
  padding-top: 94px;
}

.portfolio-btn {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.portfolio-list {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
  margin-top: 4px;
}
